{
  "openapi": "3.1.0",
  "info": {
    "title": "Bargainwale",
    "description": "Here’s a refined version of the Postman API documentation description for **BargainWale** with enhanced structure and language:\n\n---\n\n## **BargainWale API Documentation**\n\n**Base URL:** `https://api.bargainwale.com`\n\nEffortlessly manage transactions, streamline orders, and unlock unstoppable growth with **BargainWale**. Our all-in-one business management solution simplifies operations and boosts efficiency, empowering businesses to thrive with unmatched ease.\n\n---\n\n### **Features Overview**\n\n#### **1\\. Streamlined Order Management**\n\n- Centralized dashboard to track and manage orders in real-time.\n    \n- Bulk processing capabilities for faster transaction handling.\n    \n\n#### **2\\. Automated Inventory Tracking**\n\n- Stay updated on stock levels with real-time monitoring.\n    \n- Receive low-stock alerts and synchronize inventory across multiple sales channels automatically.\n    \n\n#### **3\\. Dynamic Pricing and Discounts**\n\n- Set up tailored pricing structures for different customer groups like wholesalers and retailers.\n    \n- Automate discounts and promotions to drive sales effortlessly.\n    \n\n#### **4\\. Seamless Buyer-Seller Communication**\n\n- Integrated chat system for smooth negotiation and discussion.\n    \n- Maintain a record of interactions for transparency and effective follow-ups.\n    \n\n#### **5\\. In-Depth Analytics and Reporting**\n\n- Gain insights through detailed reports on sales, inventory, and profitability.\n    \n- Access visual dashboards for a quick snapshot of your business performance.\n    \n\n#### **6\\. Secure Payment and Invoicing**\n\n- Integrated payment gateways for hassle-free transactions.\n    \n- Generate professional invoices instantly and securely.\n    \n\n#### **7\\. Integration with Essential Tools**\n\n- Connect seamlessly with accounting software, logistics providers, and other essential tools for end-to-end operation management.\n    \n\n#### **8\\. Mobile-Friendly Accessibility**\n\n- Manage your business on the go with our fully responsive design and dedicated mobile app.\n    \n- Stay connected to orders, inventory, and payments anytime, anywhere.\n    \n\n---\n\n### **API Endpoints**\n\nBelow is a summary of available API endpoints to access and integrate BargainWale's functionalities:\n\n#### **Order Management**\n\n- **Create Order**: Initiate a new order in the system.\n    \n- **Update Order**: Modify existing order details.\n    \n- **View Orders**: Retrieve a list of all orders.\n    \n\n#### **Inventory Management**\n\n- **Get Inventory Levels**: Retrieve stock details for all products.\n    \n- **Update Stock**: Adjust stock quantities manually.\n    \n\n#### **Dynamic Pricing**\n\n- **Set Pricing Rules**: Configure custom pricing for customer groups.\n    \n- **Apply Discounts**: Automate discounts on selected products.\n    \n\n#### **Communication**\n\n- **Send Message**: Initiate a chat with a buyer or seller.\n    \n- **Get Chat History**: Retrieve conversation logs for reference.\n    \n\n#### **Analytics & Reports**\n\n- **Get Sales Reports**: Access detailed sales performance metrics.\n    \n- **Inventory Trends**: Analyze inventory patterns over time.\n    \n\n#### **Payments & Invoicing**\n\n- **Process Payment**: Execute secure payment transactions.\n    \n- **Generate Invoice**: Create and download invoices in real-time.\n    \n\n#### **Integration Tools**\n\n- **Connect Accounting Software**: Link your existing accounting tools with BargainWale.\n    \n- **Sync Logistics Providers**: Automate order delivery updates and tracking.\n    \n\n---\n\n### **Authentication**\n\nBargainWale APIs are secured and require API keys for authentication. Add the `API-Key` header with your unique key in all requests.\n\n---\n\n### **Usage Notes**\n\n- Ensure that your requests adhere to the API rate limits to avoid throttling.\n    \n- Use HTTPS for all API requests to guarantee data security.\n    \n\nFor further assistance, explore our [Developer Documentation](https://www.bargainwale.com/developer) or contact our support team.\n\n---\n\nLet me know if you'd like to customize it further!",
    "contact": {},
    "version": "1.0"
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://api.bargainwale.com",
      "variables": {}
    },
    {
      "url": "https://clerk.bargainwale.com/v1/client",
      "variables": {}
    }
  ],
  "paths": {
    "/api\n/{orgId}/warehouse": {
      "get": {
        "tags": [
          "WAREHOUSE"
        ],
        "summary": "ALL WAREHOUSES",
        "description": "Fetching all the warehouses enrolled with that specific organization.  \nRemeber the **:orgId** here will be Database assigned Identity (id).",
        "operationId": "ALLWAREHOUSES",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "enter_organization_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n}/{orgId}/warehouse/filter": {
      "get": {
        "tags": [
          "WAREHOUSE"
        ],
        "summary": "FILTER WAREHOUSE",
        "description": "Get warehouse using filters on it on the basis of factors including **name** ,**state** ,**city** & **orgId**. (filteration can be done on the basis of groups and individuals)",
        "operationId": "FILTERWAREHOUSE",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "enter_name"
              ]
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "enter_state"
              ]
            }
          },
          {
            "name": "city",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "enter_city/:warehouseId"
              ]
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/{orgId}/warehouse/{warehouseId}": {
      "get": {
        "tags": [
          "WAREHOUSE"
        ],
        "summary": "FILTER BY WAREHOUSE ID",
        "description": "Select the warehouse (specify warehouse identity element **(id)** to get the warehouse entry details.",
        "operationId": "FILTERBYWAREHOUSEID",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "specify_organization_id"
              ]
            }
          },
          {
            "name": "warehouseId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "enter_warehouse_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/warehouse": {
      "post": {
        "tags": [
          "WAREHOUSE"
        ],
        "summary": "CREATE WAREHOUSE",
        "description": "Create a new warehouse in organization specify the key-values which has been asked including : **name**, **state, city**, **manager**, **manager email address**",
        "operationId": "CREATEWAREHOUSE",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CREATEWAREHOUSEREQUEST"
                  },
                  {
                    "examples": [
                      {
                        "name": "enter_warehouse_name",
                        "location": {
                          "state": "enter_state",
                          "city": "enter_city_name"
                        },
                        "organization": "specify_organization_name",
                        "warehouseManager": {
                          "name": "enter_manager_name",
                          "email": "manager@example.com"
                        }
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "name": "enter_warehouse_name",
                "location": {
                  "state": "enter_state",
                  "city": "enter_city_name"
                },
                "organization": "specify_organization_name",
                "warehouseManager": {
                  "name": "enter_manager_name",
                  "email": "manager@example.com"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/warehouse/{warehouseId}": {
      "put": {
        "tags": [
          "WAREHOUSE"
        ],
        "summary": "UPDATE WAREHOUSE",
        "description": "Use to update the existing warehouses listed under a specific organization details which could be edited : **name**, **state, city**, **manager**, **manager email address**",
        "operationId": "UPDATEWAREHOUSE",
        "parameters": [
          {
            "name": "warehouseId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "specify_warehouse_id"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UPDATEWAREHOUSEREQUEST"
                  },
                  {
                    "examples": [
                      {
                        "name": "enter_warehouse_name",
                        "location": {
                          "state": "enter_state",
                          "city": "enter_city_name"
                        },
                        "organization": "specify_organization_name",
                        "warehouseManager": {
                          "name": "enter_manager_name",
                          "email": "manager@example.com"
                        }
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "name": "enter_warehouse_name",
                "location": {
                  "state": "enter_state",
                  "city": "enter_city_name"
                },
                "organization": "specify_organization_name",
                "warehouseManager": {
                  "name": "enter_manager_name",
                  "email": "manager@example.com"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "WAREHOUSE"
        ],
        "summary": "DELETE A WAREHOUSE",
        "description": "This is a **CRITICAL API** not available over the dashboard but is working in the backend processes for internal team.",
        "operationId": "DELETEAWAREHOUSE",
        "parameters": [
          {
            "name": "warehouseId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "specifify_warehouse_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/{orgId}/order": {
      "get": {
        "tags": [
          "ORDER"
        ],
        "summary": "ALL ORDERS",
        "description": "Fetching all the orders created under an specified organization.  \nRemeber the **:orgId** here will be Database assigned Identity (id).",
        "operationId": "ALLORDERS",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "specify_organization_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/{orgId}/order/{orderId}": {
      "get": {
        "tags": [
          "ORDER"
        ],
        "summary": "FILTER BY ORDER ID",
        "description": "Specify the **Organization Id & Order Id** (Remeber the organization Id will be the Database Identity provided and Order Id u have to specify for any created past Order)",
        "operationId": "FILTERBYORDERID",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "specify_organization_id"
              ]
            }
          },
          {
            "name": "orderId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "enter_order_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/order": {
      "post": {
        "tags": [
          "ORDER"
        ],
        "summary": "CREATE ORDER",
        "description": "Create a new order in organization specify the key-values which has been asked including :\n\n- **Company Bargain Date :**\n    \n    - Date at which a bargain **(**_**'**__**sauda**__**'**_ in hindi) is writing down between the trader company and the manufacturer\n        \n- **Companany Bargain Number :**\n    \n    - A unique set of numbers and alphabets (_**'CQ1005'**_ example) is provided by the manufacturer to the trader on the behalf of that perticular order which is getting created so that both the individual organization will have a reference id proof.\n        \n- **Items :**\n    \n    - Here comes a list of Items which will be getting enrolled or basically getting bargained under this specific Order Id. There will be few keywords and values which'll be included for each item in this :\n        \n        - **Item Id :** This will be selected on selecting the item.\n            \n        - **Quantity :** Specify the number of items you want in the order.\n            \n        - **Pickup :** Specify the type of order it'll be. There will 3 main categories of order pickup type :  \n            (Remeber pickup means what type of pickup the _**TRADER (Self)**_ -> is looking for _(read more to understand)_ -> _**MANUFACTURER (Item Owner)**_\n            \n            - **Rack** :\n                \n                - Means the manufacturer will be transporting the order value through _rail/ship_ etc _(to a specific location it could be same city or different location) and the_ _**Trader (self)**_ _will be able to take the order.\n                    \n                    \\*(Cost of per item will be set accordingly)__\\*_\n                    \n            - **Depot** :\n                \n                - Means the manufacture will be transporting the order value to the Trader (Self) depot location.\n                    \n                    _\\*__**(Cost of per item will be set accordingly)**__\\*_\n                    \n            - **Plant** :\n                \n                - Means the trader will be taking the order by self from the manufacturing unit.\n                    \n                    _**(Cost of per item will be set accordingly)**_\n                    \n        - **Base Rate :**\n            \n            - This is the rate (value) at which the TRADER _(Self)_ is ordering the item.\n                \n        - **Tax Paid Amount :**\n            \n            - This is the base amount calculated on the basis of :\n                \n                - **Quantity x Base Rate** _(No any other tax or something is included yet)._\n                    \n        - **Cont Number :**\n            \n            - This is a reference number (could be a contact number or reference to the person or representer to whom we can contact for the perticular order details)\n                \n        - **GST :**\n            \n            - **CGST :** _(Central Goods and Services Tax)_\n                \n            - **SGST :** _(State Goods and Services)_\n                \n            - **IGST :** _(Integrated Goods and Services Tax)_\n                \n            - **Taxable Amount :** _(_\n                \n                - _Will be calculated on the basis of the Tax Paid Amount and the GST %)_\n                    \n        - **Total Amount :**\n            \n            - _This will be the_ _**total amount**_ _calculated where there will be a sum of all the listed items taxable amount._\n                \n        - **Inco :** _**(**__**International Commercial Terms**__**)**_\n            \n            - This is the Gloabal Terms on the basis of which the Trades and Shipping get categorised there are 2 type of Inco available :\n                \n                - EXW : (_Ex Works)_\n                    \n                    - The _**Manufacturer**_ is responsible for making the goods available at a predetermined location, such as their facility. The _**Trader (Self)**_ is responsible for all transportation costs, including freight charges, insurance, customs duties, and export/import procedures.\n                        \n                - FOB : _(Free On Board)_\n                    \n                    - The _**Manufacturer**_ is responsible for transporting the goods to a named port of shipment, and for covering the costs and risks associated with loading the goods onto the vessel. The _**Trader (Self)**_ is responsible for all transportation costs after the goods have been loaded.\n                        \n        - **Bill Type :** On which Inventory the Bill or the Order will get generated_  \n            (By default it'll be Virtual Type)_\n            \n        - **Status :**\n            \n            - This showcases about the current state of the Order **:**\n                \n                - CREATED\n                    \n                - PARTIALLY PURCHASED\n                    \n                - BILLED\n                    \n        - **Organization :**\n            \n            - This is the **Current User (TRADER)** Organization Identity\n                \n        - **Warehouse :**\n            \n            - This is the **Warehouse Identity** in which the Order will be booked and shipped.\n                \n        - **Manufacturer :**\n            \n            - This is the **Manufacturer Identity** to whom the Order is getting requested.\n                \n        - **Transport Category :**\n            \n            - _(Same as Pickup : Depot, Plat, Rack)_\n                \n        - **Payment Days :**\n            \n            - Date which is the deadline before that the payment basically the permanent bill should be issued to the manufacturer by the trader.\n                \n        - **Reminder Days :**\n            \n            - Day's before the Deadline to send a reminder to the Trader to issue a permanent bill to the manufacturer.\n                \n            - _(By Default : 7, 3, 1 stands for : 7th Day before the Deadline etc..)_\n                \n        - **Description :**\n            \n            - Remark _(Optional)_",
        "operationId": "CREATEORDER",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CREATEORDERREQUEST"
                  },
                  {
                    "examples": [
                      {
                        "companyBargainDate": "2023-09-25T00:00:00Z",
                        "companyBargainNo": "BARGAIN12345",
                        "items": [
                          {
                            "itemId": "66d82817fa547defd0c85888",
                            "quantity": 100,
                            "pickup": "plant",
                            "baseRate": 50.0,
                            "taxpaidAmount": 1000.0,
                            "contNumber": 1,
                            "gst": 18,
                            "cgst": 9,
                            "sgst": 9,
                            "igst": 0,
                            "taxableAmount": 45000
                          },
                          {
                            "itemId": "67092f7c993475e94fc152aa",
                            "quantity": 500,
                            "pickup": "plant",
                            "baseRate": 50.0,
                            "taxpaidAmount": 1000.0,
                            "contNumber": 1,
                            "gst": 18,
                            "cgst": 9,
                            "sgst": 9,
                            "igst": 0,
                            "taxableAmount": 45000
                          }
                        ],
                        "totalAmount": 1000.0,
                        "inco": "EXW",
                        "billType": "Virtual Billed",
                        "status": "created",
                        "organization": "64f0216c4b5b4c5a84b9d564",
                        "warehouse": "67092f2a993475e94fc15294",
                        "manufacturer": "64d476b697522cdfbfe0eeb2",
                        "transportCatigory": "depot",
                        "paymentDays": 21,
                        "reminderDays": [
                          7,
                          3,
                          1
                        ],
                        "description": "Order for new stock"
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "companyBargainDate": "2023-09-25T00:00:00Z",
                "companyBargainNo": "BARGAIN12345",
                "items": [
                  {
                    "itemId": "66d82817fa547defd0c85888",
                    "quantity": 100,
                    "pickup": "plant",
                    "baseRate": 50.0,
                    "taxpaidAmount": 1000.0,
                    "contNumber": 1,
                    "gst": 18,
                    "cgst": 9,
                    "sgst": 9,
                    "igst": 0,
                    "taxableAmount": 45000
                  },
                  {
                    "itemId": "67092f7c993475e94fc152aa",
                    "quantity": 500,
                    "pickup": "plant",
                    "baseRate": 50.0,
                    "taxpaidAmount": 1000.0,
                    "contNumber": 1,
                    "gst": 18,
                    "cgst": 9,
                    "sgst": 9,
                    "igst": 0,
                    "taxableAmount": 45000
                  }
                ],
                "totalAmount": 1000.0,
                "inco": "EXW",
                "billType": "Virtual Billed",
                "status": "created",
                "organization": "64f0216c4b5b4c5a84b9d564",
                "warehouse": "67092f2a993475e94fc15294",
                "manufacturer": "64d476b697522cdfbfe0eeb2",
                "transportCatigory": "depot",
                "paymentDays": 21,
                "reminderDays": [
                  7,
                  3,
                  1
                ],
                "description": "Order for new stock"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/order/{orderId}": {
      "put": {
        "tags": [
          "ORDER"
        ],
        "summary": "UPDATE ORDER",
        "description": "Use to update the existing order details which could be edited :  \n**quanity**",
        "operationId": "UPDATEORDER",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "enter_order_id"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UPDATEORDERREQUEST"
                  },
                  {
                    "examples": [
                      {
                        "items": [
                          {
                            "item": "enter_item_id",
                            "quantity": 90
                          }
                        ]
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "items": [
                  {
                    "item": "enter_item_id",
                    "quantity": 90
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "ORDER"
        ],
        "summary": "DELETE ORDER",
        "description": "This is a **CONDITIONAL** it allows the order deletion only when the conditions are satisfied :\n\n- Order status should be **CREATED**\n    \n- No operatons should took place on that specific order\n    \n- No further new order should be created over it.",
        "operationId": "DELETEORDER",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "enter_order_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/{orgId}/booking": {
      "get": {
        "tags": [
          "BOOKING"
        ],
        "summary": "ALL BOOKINGS",
        "description": "Fetching all the bookings created under an specified organization.  \nRemeber the **:orgId** here will be Database assigned Identity (id).",
        "operationId": "ALLBOOKINGS",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "specify_organization_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/{orgId}/booking/{bookingId}": {
      "get": {
        "tags": [
          "BOOKING"
        ],
        "summary": "FILTER BY BOOKING ID",
        "description": "Specify the **Organization Id & Booking Id** (Remeber the organization Id will be the Database Identity provided and Booking Id u have to specify for any created past Booking)",
        "operationId": "FILTERBYBOOKINGID",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "specify_organization_id"
              ]
            }
          },
          {
            "name": "bookingId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "enter_booking_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/booking/buyer/{buyerId}": {
      "get": {
        "tags": [
          "BOOKING"
        ],
        "summary": "BOOKING BY BUYER ID",
        "description": "Specify the **Buyer Id** to fetch the booking details of that buyer.\n\n(Buyer Id will be received at the time of Buyer Creation).",
        "operationId": "BOOKINGBYBUYERID",
        "parameters": [
          {
            "name": "buyerId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "enter_buyer_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/booking": {
      "post": {
        "tags": [
          "BOOKING"
        ],
        "summary": "CREATE BOOKING",
        "description": "Create a new booking in organization specify the key-values which has been asked including :\n\n- **Bargain Date :**\n    \n    - Date at which a bargain **(**_**'sauda'**_ in hindi) is writing down between the trader company and the buyer\n        \n- **Bargain Number :**\n    \n    - A unique set of numbers and alphabets (_**'BUY1005'**_ example) is provided by the buyer to the trader on the behalf of that perticular order which is getting created so that both the individual organization will have a reference id proof.\n        \n- **Items :**\n    \n    - Here comes a list of Items which will be getting enrolled or basically getting bargained under this specific Booking Id. There will be few keywords and values which'll be included for each item in this :\n        \n        - **Item Id :** This will be selected on selecting the item.\n            \n        - **Quantity :** Specify the number of items buyer needs.\n            \n        - **Pickup :** Specify the type of booking it'll be. There will 3 main categories of booking pickup type :  \n            (Remeber pickup means what type of pickup the _**BUYER**_ -> is looking for _(read more to understand)_ -> _**TRADER (Self)**_\n            \n            - **Rack** :\n                \n                - Means the T**rader(Self)** will be transporting the booking value through _rail/ship_ etc _(to a specific location it could be same city or different location) and the_ _**Buyer**_ will be able to take the order.**\n                    \n                    (Cost of per item will be set accordingly)**\n                    \n            - **Depot** :\n                \n                - Means the **Trader (Self)** will be transporting the booking value to the B**uyer** depot location.\n                    \n                    **(**_\\*__Cost of per item will be set accordingly)__\\*_\n                    \n            - **Plant** :\n                \n                - Means the buyer will be taking the order by self from the trader warehouse/specified location.\n                    \n                    _\\*__(Cost of per item will be set accordingly)__\\*_\n                    \n        - **Base Rate :**\n            \n            - This is a dynamic rate which'll keep on updating by the **Trader (Self)** to according to the market values it'll be dependent on :\n                \n                - Warehouse\n                    \n                - Item\n                    \n                - Pickup\n                    \n        - **Discount :**\n            \n            - This will be a percentage based like if any buyer requrested for a discount a approval condition will get triggered.:\n                \n                - _If Verified by the_ _**Trader (Self)**_ _\\-> Admin then only the booking will be placed._\n                    \n        - **Tax Paid Amount :**\n            \n            - This is the base amount calculated on the basis of :\n                \n                - **Quantity x Base Rate** _(No any other tax or something is included yet)._\n                    \n        - **Cont Number :**\n            \n            - This is a reference number (could be a contact number or reference to the person or representer to whom we can contact for the perticular order details)\n                \n        - **GST :**\n            \n            - **CGST :** _(Central Goods and Services Tax)_\n                \n            - **SGST :** _(State Goods and Services)_\n                \n            - **IGST :** _(Integrated Goods and Services Tax)_\n                \n            - **Taxable Amount :** _(_\n                \n                - _Will be calculated on the basis of the Tax Paid Amount and the GST %)_\n                    \n        - **Total Amount :**\n            \n            - _This will be the_ _**total amount**_ _calculated where there will be a sum of all the listed items taxable amount._\n                \n        - **Delivery :**\n            \n            - This is the Gloabal Terms on the basis of which the Trades and Shipping get categorised there are 2 type of Inco available :\n                \n                - Delivery :\n                    \n                    - The **Trader (Self)** is responsible for making the goods available at a predetermined location, such as their facility. The **Buyer** is responsible for all transportation costs, including freight charges, insurance, customs duties, and export/import procedures.\n                        \n                    - There could be a different Delivery Address it could be :\n                        \n                        - Default buyer address from the masters or\n                            \n                        - Could be a custom delivery address named as : \"**Consignee\"**\n                            \n                - Pickup :\n                    \n                    - The **Buyer** is responsible for all transportation costs after the goods have been loaded from the **Trader (Self)** specified port.\n                        \n        - **Bill Type :** On which Inventory the Bill or the Order will get generated_  \n            (By default it'll be Virtual Type)_\n            \n        - **Status :**\n            \n            - This showcases about the current state of the Order **:**\n                \n                - CREATED\n                    \n                - PARTIALLY PURCHASED\n                    \n                - BILLED\n                    \n        - **Organization :**\n            \n            - This is the **Current User (TRADER)** Organization Identity\n                \n        - **Warehouse :**\n            \n            - This is the **Warehouse Identity** in which the Order will be booked and shipped.\n                \n        - **Buyer :**\n            \n            - This is the **Buyer Identity** for whom the Booking is getting placed.\n                \n        - **Payment Days :**\n            \n            - Date which is the deadline before that the payment basically the permanent bill should be issued to the manufacturer by the trader.\n                \n        - **Reminder Days :**\n            \n            - Day's before the Deadline to send a reminder to the Trader to issue a permanent bill to the manufacturer.\n                \n            - _(By Default : 7, 3, 1 stands for : 7th Day before the Deadline etc..)_\n                \n        - **Description :**\n            \n            - Remark _(Optional)_",
        "operationId": "CREATEBOOKING",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CREATEBOOKINGREQUEST"
                  },
                  {
                    "examples": [
                      {
                        "BargainDate": "2024-09-25T00:00:00.000Z",
                        "BargainNo": "BRG123456",
                        "items": [
                          {
                            "item": "66d82817fa547defd0c85888",
                            "quantity": 200,
                            "discount": 0,
                            "pickup": "plant",
                            "taxpaidAmount": 1500,
                            "contNumber": 9876543210,
                            "basePrice": 110,
                            "gst": 18,
                            "cgst": 9,
                            "sgst": 9,
                            "igst": 0,
                            "taxableAmount": 45000
                          },
                          {
                            "item": "67092f7c993475e94fc152aa",
                            "itemPrice": "66f6b4fdf2c1929a3670189e",
                            "quantity": 300,
                            "discount": 0,
                            "pickup": "plant",
                            "taxpaidAmount": 700,
                            "contNumber": 9876543211,
                            "basePrice": 105
                          }
                        ],
                        "validity": 21,
                        "inco": "EXW",
                        "deliveryOption": "Delivery",
                        "organization": "64d22f5a8b3b9f47a3b0e7f1",
                        "warehouse": "671d0e84b912e6dfd3b234b1",
                        "buyer": "670ebe93ee836d79104d34ae",
                        "deliveryAddress": {
                          "addressLine1": "123 Street Name",
                          "addressLine2": "Suite 456",
                          "city": "Mumbai",
                          "state": "Maharashtra",
                          "pinCode": "400001"
                        },
                        "status": "created",
                        "reminderDays": [
                          7,
                          3,
                          1
                        ],
                        "description": "This is a booking for the bulk order of items.",
                        "createdAt": "2024-09-25T10:00:00.000Z",
                        "updatedAt": "2024-09-25T10:00:00.000Z"
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "BargainDate": "2024-09-25T00:00:00.000Z",
                "BargainNo": "BRG123456",
                "items": [
                  {
                    "item": "66d82817fa547defd0c85888",
                    "quantity": 200,
                    "discount": 0,
                    "pickup": "plant",
                    "taxpaidAmount": 1500,
                    "contNumber": 9876543210,
                    "basePrice": 110,
                    "gst": 18,
                    "cgst": 9,
                    "sgst": 9,
                    "igst": 0,
                    "taxableAmount": 45000
                  },
                  {
                    "item": "67092f7c993475e94fc152aa",
                    "itemPrice": "66f6b4fdf2c1929a3670189e",
                    "quantity": 300,
                    "discount": 0,
                    "pickup": "plant",
                    "taxpaidAmount": 700,
                    "contNumber": 9876543211,
                    "basePrice": 105
                  }
                ],
                "validity": 21,
                "inco": "EXW",
                "deliveryOption": "Delivery",
                "organization": "64d22f5a8b3b9f47a3b0e7f1",
                "warehouse": "671d0e84b912e6dfd3b234b1",
                "buyer": "670ebe93ee836d79104d34ae",
                "deliveryAddress": {
                  "addressLine1": "123 Street Name",
                  "addressLine2": "Suite 456",
                  "city": "Mumbai",
                  "state": "Maharashtra",
                  "pinCode": "400001"
                },
                "status": "created",
                "reminderDays": [
                  7,
                  3,
                  1
                ],
                "description": "This is a booking for the bulk order of items.",
                "createdAt": "2024-09-25T10:00:00.000Z",
                "updatedAt": "2024-09-25T10:00:00.000Z"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/booking/{bookingId}": {
      "put": {
        "tags": [
          "BOOKING"
        ],
        "summary": "UPDATE BOOKING BY ID",
        "description": "Use to update the existing booking details which could be edited :  \n**quanity etc.**",
        "operationId": "UPDATEBOOKINGBYID",
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "enter_booking_id"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UPDATEBOOKINGBYIDREQUEST"
                  },
                  {
                    "examples": [
                      {
                        "BargainDate": "2024-09-30T00:00:00.000Z",
                        "BargainNo": "NEW12345",
                        "items": [
                          {
                            "item": "60d5f9f8d5f4b34c2d1a0e89",
                            "quantity": 50
                          }
                        ],
                        "validity": 30,
                        "deliveryOption": "Delivery",
                        "warehouse": "60d5f9f8d5f4b34c2d1a0e90",
                        "organization": "60d5f9f8d5f4b34c2d1a0e91",
                        "buyer": "60d5f9f8d5f4b34c2d1a0e92",
                        "deliveryAddress": {
                          "addressLine1": "123 New Street",
                          "addressLine2": "Apt 4B",
                          "city": "New City",
                          "state": "NC",
                          "pinCode": "12345"
                        },
                        "virtualInventoryQuantities": [
                          {
                            "itemName": "Item A",
                            "quantity": 10
                          }
                        ],
                        "billedInventoryQuantities": [
                          {
                            "itemName": "Item B",
                            "quantity": 40
                          }
                        ],
                        "status": "payment pending",
                        "reminderDays": [
                          5,
                          2,
                          1
                        ],
                        "description": "Updated description for the booking"
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "BargainDate": "2024-09-30T00:00:00.000Z",
                "BargainNo": "NEW12345",
                "items": [
                  {
                    "item": "60d5f9f8d5f4b34c2d1a0e89",
                    "quantity": 50
                  }
                ],
                "validity": 30,
                "deliveryOption": "Delivery",
                "warehouse": "60d5f9f8d5f4b34c2d1a0e90",
                "organization": "60d5f9f8d5f4b34c2d1a0e91",
                "buyer": "60d5f9f8d5f4b34c2d1a0e92",
                "deliveryAddress": {
                  "addressLine1": "123 New Street",
                  "addressLine2": "Apt 4B",
                  "city": "New City",
                  "state": "NC",
                  "pinCode": "12345"
                },
                "virtualInventoryQuantities": [
                  {
                    "itemName": "Item A",
                    "quantity": 10
                  }
                ],
                "billedInventoryQuantities": [
                  {
                    "itemName": "Item B",
                    "quantity": 40
                  }
                ],
                "status": "payment pending",
                "reminderDays": [
                  5,
                  2,
                  1
                ],
                "description": "Updated description for the booking"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "BOOKING"
        ],
        "summary": "DELETE BOOKING",
        "description": "This is a **CONDITIONAL** it allows the booking deletion only when the conditions are satisfied :\n\n- Booking status should be **CREATED**\n    \n- No operatons should took place on that specific order\n    \n- No further new booking should be created over it.",
        "operationId": "DELETEBOOKING",
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "enter_booking_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/booking/updateDiscount/{bookingId}": {
      "put": {
        "tags": [
          "BOOKING"
        ],
        "summary": "BOOKING FOR DISCOUNT",
        "description": "Provide the discount percentage (%) to the booking creation to provide a On - Demand Discount to the Buyer on the Base Value.",
        "operationId": "BOOKINGFORDISCOUNT",
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "enter_booking_id"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BOOKINGFORDISCOUNTREQUEST"
                  },
                  {
                    "examples": [
                      {
                        "items": [
                          {
                            "item": "66d82817fa547defd0c85888",
                            "discount": 10
                          },
                          {
                            "item": "67092f7c993475e94fc152aa",
                            "discount": 0
                          }
                        ]
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "items": [
                  {
                    "item": "66d82817fa547defd0c85888",
                    "discount": 10
                  },
                  {
                    "item": "67092f7c993475e94fc152aa",
                    "discount": 0
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/{orgId}/items": {
      "get": {
        "tags": [
          "ITEM"
        ],
        "summary": "ALL ITEMS",
        "description": "Fetching all the items enrolled under an specified organization.  \nRemeber the **:orgId** here will be Database assigned Identity (id).",
        "operationId": "ALLITEMS",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "specify_organization_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/{orgId}/items/{itemId}": {
      "get": {
        "tags": [
          "ITEM"
        ],
        "summary": "FILTER BY ITEM ID",
        "description": "Specify the **Organization Id & Item Id** (Remeber the organization Id will be the Database Identity provided and Item Id u have to specify for any created past Item)",
        "operationId": "FILTERBYITEMID",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "specify_organization_id"
              ]
            }
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "enter_item_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/{orgId}/items/warehouse/{warehouseId}": {
      "get": {
        "tags": [
          "ITEM"
        ],
        "summary": "ITEM BY WAREHOUSE ID",
        "description": "Specify the **Item Id** to fetch the items details of that item.\n\n(Item Id will be received at the time of Item Creation).",
        "operationId": "ITEMBYWAREHOUSEID",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "specify_organization_id"
              ]
            }
          },
          {
            "name": "warehouseId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "enter_warehouse_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/items": {
      "post": {
        "tags": [
          "ITEM"
        ],
        "summary": "CREATE ITEM",
        "description": "Create a new item in organization specify the key-values which has been asked including : **name**, **flavor, hsncode**, **material**, **net weight, gross weight, gst, packaging, pack size**",
        "operationId": "CREATEITEM",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CREATEITEMREQUEST"
                  },
                  {
                    "examples": [
                      {
                        "flavor": "Vanaspati",
                        "material": 180008631,
                        "materialdescription": "RUCHI GOLD PALMOLEIN 870 G PP 1X10- VALUE PACK",
                        "netweight": 450,
                        "grossweight": 480,
                        "gst": 5,
                        "packaging": "box",
                        "packsize": "Consumer Pack",
                        "staticPrice": 150.0,
                        "warehouses": [
                          "66d4b28d94374eea53e1cff3",
                          "64e7f6b8fc13ae1a6f00000c"
                        ],
                        "organization": "64e7f6b8fc13ae1a6f00000d"
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "flavor": "Vanaspati",
                "material": 180008631,
                "materialdescription": "RUCHI GOLD PALMOLEIN 870 G PP 1X10- VALUE PACK",
                "netweight": 450,
                "grossweight": 480,
                "gst": 5,
                "packaging": "box",
                "packsize": "Consumer Pack",
                "staticPrice": 150.0,
                "warehouses": [
                  "66d4b28d94374eea53e1cff3",
                  "64e7f6b8fc13ae1a6f00000c"
                ],
                "organization": "64e7f6b8fc13ae1a6f00000d"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/items/{itemId}": {
      "put": {
        "tags": [
          "ITEM"
        ],
        "summary": "UPDATE ITEM BY ID",
        "description": "Update item in organization specify the key-values which has been asked including : **name**, **flavor, hsncode**, **material**, **net weight, gross weight, gst, packaging, pack size**",
        "operationId": "UPDATEITEMBYID",
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "enter_item_id"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UPDATEITEMBYIDREQUEST"
                  },
                  {
                    "examples": [
                      {
                        "flavor": "basmati",
                        "material": 180008631,
                        "materialdescription": "RUCHI GOLD PALMOLEIN 870 G PP 1X10- VALUE PACK",
                        "netweight": 450,
                        "grossweight": 480,
                        "gst": 5,
                        "packaging": "box",
                        "packsize": "Bulk Pack",
                        "staticPrice": 150.0
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "flavor": "basmati",
                "material": 180008631,
                "materialdescription": "RUCHI GOLD PALMOLEIN 870 G PP 1X10- VALUE PACK",
                "netweight": 450,
                "grossweight": 480,
                "gst": 5,
                "packaging": "box",
                "packsize": "Bulk Pack",
                "staticPrice": 150.0
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "ITEM"
        ],
        "summary": "DELETE ITEM",
        "description": "This is a **CRITICAL API** not available over the dashboard but is working in the backend processes for internal team.",
        "operationId": "DELETEITEM",
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "enter_item_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/{orgId}/buyers": {
      "get": {
        "tags": [
          "BUYER"
        ],
        "summary": "ALL BUYERS",
        "description": "Fetching all the buyers enrolled with that specific organization.  \nRemeber the **:orgId** here will be Database assigned Identity (id).",
        "operationId": "ALLBUYERS",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "specify_organization_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/{orgId}/buyers/{buyerId}": {
      "get": {
        "tags": [
          "BUYER"
        ],
        "summary": "FILTER BY BUYER ID",
        "description": "Select the buyer (specify buyer identity element **(id)** to get the buyer entry details.",
        "operationId": "FILTERBYBUYERID",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "specify_organization_id"
              ]
            }
          },
          {
            "name": "buyerId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "enter_buyer_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/buyers": {
      "post": {
        "tags": [
          "BUYER"
        ],
        "summary": "CREATE BUYER",
        "description": "Enroll a new buyer in organization specify the key-values which has been asked including : **name**, **company name, address line 1**, **address line 2 (optional)**, **city, state, pincode, phone number, email address, gst number, google maps.**",
        "operationId": "CREATEBUYER",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CREATEBUYERREQUEST"
                  },
                  {
                    "examples": [
                      {
                        "buyer": "John Doe",
                        "buyerCompany": "Doe Industries",
                        "buyerdeliveryAddress": {
                          "addressLine1": "123 Main Street",
                          "addressLine2": "Suite 400",
                          "city": "New York",
                          "state": "NY",
                          "pinCode": "10001"
                        },
                        "buyerContact": "+1-555-1234",
                        "buyerEmail": "johndoe@example.com",
                        "buyerGstno": "22AAAAA0000A1Z5",
                        "buyerGooglemaps": "https://maps.google.com/?q=40.7128,-74.0060"
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "buyer": "John Doe",
                "buyerCompany": "Doe Industries",
                "buyerdeliveryAddress": {
                  "addressLine1": "123 Main Street",
                  "addressLine2": "Suite 400",
                  "city": "New York",
                  "state": "NY",
                  "pinCode": "10001"
                },
                "buyerContact": "+1-555-1234",
                "buyerEmail": "johndoe@example.com",
                "buyerGstno": "22AAAAA0000A1Z5",
                "buyerGooglemaps": "https://maps.google.com/?q=40.7128,-74.0060"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/buyers/{buyerId}": {
      "put": {
        "tags": [
          "BUYER"
        ],
        "summary": "UPDATE BUYER BY ID",
        "description": "Update buyer in organization specify the key-values which has been asked including : **name**, **company name, address line 1**, **address line 2 (optional)**, **city, state, pincode, phone number, email address, gst number, google maps.**",
        "operationId": "UPDATEBUYERBYID",
        "parameters": [
          {
            "name": "buyerId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "enter_buyer_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "BUYER"
        ],
        "summary": "DELETE BUYER",
        "description": "This is a **CONDITIONAL** it allows the buyer deletion only when the conditions are satisfied :\n\n- Buyer shouldn't be enrolled in any operation.\n    \n- No operations should took place by specific buyer.",
        "operationId": "DELETEBUYER",
        "parameters": [
          {
            "name": "buyerId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "enter_buyer_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/{orgId}/transports": {
      "get": {
        "tags": [
          "TRANSPORT"
        ],
        "summary": "ALL TRANSPORTS",
        "description": "Fetching all the transports enrolled with that specific organization.  \nRemeber the **:orgId** here will be Database assigned Identity (id).",
        "operationId": "ALLTRANSPORTS",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "specify_organization_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/{orgId}/transports/{transportId}": {
      "get": {
        "tags": [
          "TRANSPORT"
        ],
        "summary": "FILTER BY TRANSPORT ID",
        "description": "Select the transport (specify transport identity element **(id)** to get the transport entry details.",
        "operationId": "FILTERBYTRANSPORTID",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "specify_organization_id"
              ]
            }
          },
          {
            "name": "transportId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "enter_transport_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/transports": {
      "post": {
        "tags": [
          "TRANSPORT"
        ],
        "summary": "CREATE TRANSPORT",
        "description": "Create a new transporter in organization specify the key-values which has been asked including : **name, transport type, phone number, agency**",
        "operationId": "CREATETRANSPORT",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CREATETRANSPORTREQUEST"
                  },
                  {
                    "examples": [
                      {
                        "transport": "ABC Logistics",
                        "transportType": "Truck",
                        "transportContact": "9876543210",
                        "transportAgency": "XYZ Transport Agency"
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "transport": "ABC Logistics",
                "transportType": "Truck",
                "transportContact": "9876543210",
                "transportAgency": "XYZ Transport Agency"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/transports/{transportId}": {
      "put": {
        "tags": [
          "TRANSPORT"
        ],
        "summary": "UPDATE TRANSPORT BY ID",
        "description": "Update the transporter in organization specify the key-values which has been asked including : **name, transport type, phone number, agency**",
        "operationId": "UPDATETRANSPORTBYID",
        "parameters": [
          {
            "name": "transportId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "enter_transport_id"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UPDATETRANSPORTBYIDREQUEST"
                  },
                  {
                    "examples": [
                      {
                        "transport": "DEF Logistics",
                        "transportType": "Container",
                        "transportContact": "1234567890",
                        "transportAgency": "DEF Transport Agency"
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "transport": "DEF Logistics",
                "transportType": "Container",
                "transportContact": "1234567890",
                "transportAgency": "DEF Transport Agency"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "TRANSPORT"
        ],
        "summary": "DELETE TRANSPORT",
        "description": "This is a **CONDITIONAL** it allows the transporter deletion only when the conditions are satisfied :\n\n- Transporter shouldn't be enrolled in any operation.\n    \n- No operations should took place by specific transporter.",
        "operationId": "DELETETRANSPORT",
        "parameters": [
          {
            "name": "transportId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "enter_transporter_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/{orgId}/manufacturers": {
      "get": {
        "tags": [
          "MANUFACTURER"
        ],
        "summary": "ALL MANUFACTURERS",
        "description": "Fetching all the manufacturers enrolled with that specific organization.  \nRemeber the **:orgId** here will be Database assigned Identity (id).",
        "operationId": "ALLMANUFACTURERS",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "specify_organization_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/{orgId}/manufacturers/{manufacturerId}": {
      "get": {
        "tags": [
          "MANUFACTURER"
        ],
        "summary": "FILTER BY MANUFACTURER BY ID",
        "description": "Select the manufacturer (specify manufacturer identity element **(id)** to get the manufacturer entry details.",
        "operationId": "FILTERBYMANUFACTURERBYID",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "specify_organization_id"
              ]
            }
          },
          {
            "name": "manufacturerId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "enter_manufacturer_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/manufacturers": {
      "post": {
        "tags": [
          "MANUFACTURER"
        ],
        "summary": "CREATE MANUFACTURER",
        "description": "Enroll a new manufacturer in organization specify the key-values which has been asked including : **name**, **company name, address line 1**, **address line 2 (optional)**, **city, state, pincode, phone number, email address, gst number, google maps.**",
        "operationId": "CREATEMANUFACTURER",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CREATEMANUFACTURERREQUEST"
                  },
                  {
                    "examples": [
                      {
                        "manufacturer": "ABC Manufacturing Co.",
                        "manufacturerCompany": "ABC Industries",
                        "manufacturerdeliveryAddress": {
                          "addressLine1": "123 Main St",
                          "addressLine2": "Suite 400",
                          "city": "Springfield",
                          "state": "IL",
                          "pinCode": "62701"
                        },
                        "manufacturerContact": "123-456-7890",
                        "manufacturerEmail": "contact@abcindustries.com",
                        "manufacturerGstno": "29ABCDE1234F1Z5",
                        "manufacturerGooglemaps": "https://maps.google.com/?q=123+Main+St,+Springfield,+IL"
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "manufacturer": "ABC Manufacturing Co.",
                "manufacturerCompany": "ABC Industries",
                "manufacturerdeliveryAddress": {
                  "addressLine1": "123 Main St",
                  "addressLine2": "Suite 400",
                  "city": "Springfield",
                  "state": "IL",
                  "pinCode": "62701"
                },
                "manufacturerContact": "123-456-7890",
                "manufacturerEmail": "contact@abcindustries.com",
                "manufacturerGstno": "29ABCDE1234F1Z5",
                "manufacturerGooglemaps": "https://maps.google.com/?q=123+Main+St,+Springfield,+IL"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/manufacturers/{manufacturerId}": {
      "put": {
        "tags": [
          "MANUFACTURER"
        ],
        "summary": "UPDATE MANUFACTURER BY ID",
        "description": "Update the manufacturer in organization specify the key-values which has been asked including : **name, transport type, phone number, agency**",
        "operationId": "UPDATEMANUFACTURERBYID",
        "parameters": [
          {
            "name": "manufacturerId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "enter_manufacturer_id"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UPDATEMANUFACTURERBYIDREQUEST"
                  },
                  {
                    "examples": [
                      {
                        "manufacturer": "XYZ Manufacturing Co.",
                        "manufacturerCompany": "XYZ Industries",
                        "manufacturerdeliveryAddress": {
                          "addressLine1": "456 Elm St",
                          "addressLine2": "Apt 5B",
                          "city": "Metropolis",
                          "state": "NY",
                          "pinCode": "10001"
                        },
                        "manufacturerContact": "987-654-3210",
                        "manufacturerEmail": "info@xyzindustries.com",
                        "manufacturerGstno": "07ABCDE1234F2Z6",
                        "manufacturerGooglemaps": "https://maps.google.com/?q=456+Elm+St,+Metropolis,+NY"
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "manufacturer": "XYZ Manufacturing Co.",
                "manufacturerCompany": "XYZ Industries",
                "manufacturerdeliveryAddress": {
                  "addressLine1": "456 Elm St",
                  "addressLine2": "Apt 5B",
                  "city": "Metropolis",
                  "state": "NY",
                  "pinCode": "10001"
                },
                "manufacturerContact": "987-654-3210",
                "manufacturerEmail": "info@xyzindustries.com",
                "manufacturerGstno": "07ABCDE1234F2Z6",
                "manufacturerGooglemaps": "https://maps.google.com/?q=456+Elm+St,+Metropolis,+NY"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "MANUFACTURER"
        ],
        "summary": "DELETE MANUFACTURER",
        "description": "This is a **CONDITIONAL** it allows the manufacturer deletion only when the conditions are satisfied :\n\n- Manufacturer shouldn't be enrolled in any operation.\n    \n- No operations should took place by specific manufacturer.",
        "operationId": "DELETEMANUFACTURER",
        "parameters": [
          {
            "name": "manufacturerId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "enter_manufacturer_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/{orgId}/purchase": {
      "get": {
        "tags": [
          "PURCHASE"
        ],
        "summary": "ALL PURCHASE",
        "description": "Fetching all the purchase created under an specified organization.  \nRemeber the **:orgId** here will be Database assigned Identity (id).",
        "operationId": "ALLPURCHASE",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "specify_organization_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/{orgId}/purchase/{purchaseId}": {
      "get": {
        "tags": [
          "PURCHASE"
        ],
        "summary": "FILTER BY PURCHASE ID",
        "description": "Specify the **Organization Id & Purchase Id** (Remeber the organization Id will be the Database Identity provided and Purchase Id u have to specify for any created past Purchase)",
        "operationId": "FILTERBYPURCHASEID",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "specify_organization_id"
              ]
            }
          },
          {
            "name": "purchaseId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "enter_purchase_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/purchases-between-dates": {
      "get": {
        "tags": [
          "PURCHASE"
        ],
        "summary": "FILTER PURCHASE BETWEEN DATES",
        "description": "Specify the **Start Date** and **End Date** and in between the purchases created will be fetched in there.",
        "operationId": "FILTERPURCHASEBETWEENDATES",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/purchase": {
      "post": {
        "tags": [
          "PURCHASE"
        ],
        "summary": "CREATE PURCHASE",
        "description": "Create a new purchase in organization specify the key-values which has been asked including :\n\n- **Invoice Date :**\n    \n    - Date at which a purchase **(**physically getting the ordered items) and the invoice of the purchase will be shared.\n        \n- **Invoice Number :**\n    \n    - A unique set of numbers and alphabets (_**'PU1035'**_ example) is entered in reference with the Purchase between the **manufacturer** and **trader (self)**\n        \n- **Warehouse :**\n    \n    - This is the **Warehouse Identity** in which the Purchase will shipped.\n        \n- **Transporter :**\n    \n    - This is the **Transporter Identity** by whom the Purchase is transported.\n        \n- **Purchase Status Descriptions**\n    \n    - **Ordered Quantity**: Represents the number of items requested when the purchase order was created. This value is fixed and does not change.\n        \n    - **Available Quantity**: Tracks the number of items received so far. It starts at **0** and increases as items are received against the order.\n        \n- The **Purchase Status** indicates the current state of a purchase order. Below are the statuses and their meanings:\n    \n    - **Field Descriptions**\n        \n        - **Created**:\n            \n            - **Description**: The purchase order has been created in the system, but no goods have been received yet.\n                \n            - **Ordered Quantity**: This shows the total quantity of items requested in the order.\n                \n            - **Available Quantity**: This will remain at **0** until goods are received.\n                \n        - **Partially Paid**:\n            \n            - **Description**: A portion of the ordered goods has been received and paid for, but the full quantity and payment are still pending.\n                \n            - **Ordered Quantity**: Displays the original total quantity ordered.\n                \n            - **Available Quantity**: Updates dynamically based on the quantity of goods that have been received so far.\n                \n        - **Billed**:\n            \n            - **Description**: The entire purchase order has been fulfilled. All items have been received, and payment has been completed.\n                \n            - **Ordered Quantity**: Matches the original order.\n                \n            - **Available Quantity**: Matches the **Ordered Quantity**, indicating that all goods have been received.",
        "operationId": "CREATEPURCHASE",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CREATEPURCHASEREQUEST"
                  },
                  {
                    "examples": [
                      {
                        "warehouseId": "67092f2a993475e94fc15294",
                        "transporterId": "66d362e3597f4294215ed066",
                        "orderId": "67182bbfd929d9c3c48e821a",
                        "items": [
                          {
                            "itemId": "66d82817fa547defd0c85888",
                            "quantity": 100,
                            "pickup": "plant"
                          },
                          {
                            "itemId": "67092f7c993475e94fc152aa",
                            "quantity": 500,
                            "pickup": "plant"
                          }
                        ]
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "warehouseId": "67092f2a993475e94fc15294",
                "transporterId": "66d362e3597f4294215ed066",
                "orderId": "67182bbfd929d9c3c48e821a",
                "items": [
                  {
                    "itemId": "66d82817fa547defd0c85888",
                    "quantity": 100,
                    "pickup": "plant"
                  },
                  {
                    "itemId": "67092f7c993475e94fc152aa",
                    "quantity": 500,
                    "pickup": "plant"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/purchase/{purchaseId}": {
      "delete": {
        "tags": [
          "PURCHASE"
        ],
        "summary": "DELETE PURCHASE",
        "description": "This is a **CRITICAL API** not available over the dashboard but is working in the backend processes for internal team.",
        "operationId": "DELETEPURCHASE",
        "parameters": [
          {
            "name": "purchaseId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "enter_purchase_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.bargainwale.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/api\n/{orgId}/sale": {
      "get": {
[...]
